.version.contactos /* version checker */
{
	color: #0000F9;
	background-color: #ED8D0D;
}

.html
{
	background-color: #FFB442;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 760px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 247px;
}

#u1341
{
	z-index: 2;
	padding-bottom: 51px;
}

#u1341_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u144-4
{
	z-index: 3;
	width: 78px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 181px;
}

#u146-4
{
	z-index: 7;
	width: 78px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 573px;
}

#u148-4
{
	z-index: 11;
	width: 78px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 965px;
}

#u144-4:hover,#u146-4:hover,#u148-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 68px -10000px 0px 0px;
}

#u1341-bw
{
	z-index: 2;
	height: 98px;
}

#u1644-4
{
	z-index: 72;
	width: 311px;
	min-height: 66px;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 52px;
	position: relative;
}

#widgetu1626
{
	z-index: 15;
	width: 0.01px;
	height: 266px;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#widgetu1633
{
	z-index: 16;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1633.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1635-4
{
	z-index: 17;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u1636-4
{
	z-index: 21;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu1633.non-empty-st #u1636-4
{
	background-color: #FFFFFF;
}

#widgetu1633:hover #u1636-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu1633.focus-st #u1636-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu1633.non-empty-st #u1636-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1633:hover #u1636-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1633.focus-st #u1636-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1637
{
	z-index: 25;
	width: 340px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu1637.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1640-4
{
	z-index: 26;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu1637.fld-err-st #u1640-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1638-4
{
	z-index: 30;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu1637.non-empty-st #u1638-4
{
	background-color: #FFFFFF;
}

#widgetu1637:hover #u1638-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu1637.focus-st #u1638-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu1633.fld-err-st #u1636-4,#widgetu1637.fld-err-st #u1638-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu1637.non-empty-st #u1638-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1637:hover #u1638-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1637.focus-st #u1638-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1633_input,#widgetu1633_prompt,#widgetu1637_input,#widgetu1637_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u1641-4
{
	z-index: 34;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu1626.frm-sub-st #u1641-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1631-4
{
	z-index: 38;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu1626.frm-subm-err-st #u1631-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1642-4
{
	z-index: 42;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu1626.frm-sub-st #u1641-4,#widgetu1626.frm-subm-err-st #u1631-4,#widgetu1626.frm-subm-ok-st #u1642-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1626.frm-subm-ok-st #u1642-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1632-17
{
	z-index: 46;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u1632-17.png") no-repeat 0px 0px;
}

#u1632-17:hover
{
	background: url("../images/u1632-17-r.png") no-repeat 0px 0px;
}

#u1632-17:active
{
	background: url("../images/u1632-17-m.png") no-repeat 0px 0px;
}

#widgetu1626.frm-sub-st #u1632-17
{
	background: url("../images/u1632-17-fs.png") no-repeat 0px 0px;
}

#widgetu1627
{
	z-index: 63;
	width: 340px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu1627.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u1629-4
{
	z-index: 64;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu1633.fld-err-st #u1635-4,#widgetu1627.fld-err-st #u1629-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1633.fld-err-st #u1635-4 p,#widgetu1633.fld-err-st #u1635-4 span,#widgetu1637.fld-err-st #u1640-4 p,#widgetu1637.fld-err-st #u1640-4 span,#widgetu1627.fld-err-st #u1629-4 p,#widgetu1627.fld-err-st #u1629-4 span
{
	color: #D7244C;
}

#u1630-4
{
	z-index: 68;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu1627.non-empty-st #u1630-4
{
	background-color: #FFFFFF;
}

#widgetu1627:hover #u1630-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu1627.focus-st #u1630-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu1627.fld-err-st #u1630-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu1627.non-empty-st #u1630-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1627:hover #u1630-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1627.focus-st #u1630-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1633.fld-err-st #u1636-4 *,#widgetu1637.fld-err-st #u1638-4 *,#widgetu1627.fld-err-st #u1630-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1627_input,#widgetu1627_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu1633.focus-st #widgetu1633_prompt,#widgetu1637.focus-st #widgetu1637_prompt,#widgetu1627.focus-st #widgetu1627_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1633:hover #widgetu1633_input,#widgetu1633.focus-st #widgetu1633_input,#widgetu1633.fld-err-st #widgetu1633_input,#widgetu1633:hover #widgetu1633_prompt,#widgetu1633.fld-err-st #widgetu1633_prompt,#widgetu1637:hover #widgetu1637_input,#widgetu1637.focus-st #widgetu1637_input,#widgetu1637.fld-err-st #widgetu1637_input,#widgetu1637:hover #widgetu1637_prompt,#widgetu1637.fld-err-st #widgetu1637_prompt,#widgetu1627:hover #widgetu1627_input,#widgetu1627.focus-st #widgetu1627_input,#widgetu1627.fld-err-st #widgetu1627_input,#widgetu1627:hover #widgetu1627_prompt,#widgetu1627.fld-err-st #widgetu1627_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1633.non-empty-st #widgetu1633_prompt,#widgetu1637.non-empty-st #widgetu1637_prompt,#widgetu1627.non-empty-st #widgetu1627_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

