.version.projecto_2 /* version checker */
{
	color: #0000E1;
	background-color: #75927F;
}

.html
{
	background-color: #FFB442;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 760px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 296px;
}

#u1341
{
	z-index: 2;
	padding-bottom: 51px;
}

#u1341_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u144-4
{
	z-index: 3;
	width: 78px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 181px;
}

#u146-4
{
	z-index: 7;
	width: 78px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 573px;
}

#u148-4
{
	z-index: 11;
	width: 78px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 965px;
}

#u144-4:hover,#u146-4:hover,#u148-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 68px -10000px 0px 0px;
}

#u1341-bw
{
	z-index: 2;
	height: 98px;
}

#ppu1171
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 53px;
}

#pu1171
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1171
{
	z-index: 19;
	width: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1172-4
{
	z-index: 20;
	width: 311px;
	min-height: 110px;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1170-4
{
	z-index: 15;
	width: 481px;
	min-height: 114px;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u1165
{
	z-index: 24;
	width: 411px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

